<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>9/14/16 version 0.1.1</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>A history log should no longer be generated when a user is dragged but their position not actually changed.</li>
            </ul>
          </div>
        </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>9/7/16 version 0.1.1</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Fixed a bug in the logic that handled removing and adding users to lists, when they were added or removed to groups.</li>
              <ul><li>This bug also caused strange behavior when linking members to registerd users.</li></ul>
              <li><h4>Because of strange behavior and the lack of a built in way to rectify these errors the lists and groups have been dropped from the database</h4></li>
            </ul>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>9/3/16 version 0.1.0 Dawn of the User</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Should now be albe to hit Enter on keyboard in place of clicking Login / Create Account.</li>
              <li>Fixed spelling error in signin path.</li>
              <li>User and Admin Access Level Control is live.</li>
              <li>Improved home page history.</li>
            </ul>
          </div>
        </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>9/1/16 version 0.0.2</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><h4>Because of some extensive changes to the back end and database all prior data has been dropped from database</h4></li>
              <li>Improved Home Screen history</li>
              <li>Removed automatically linking registered users; a manual button has been added to group screen</li>
              <li>Added a member note, it is editable on the group screen but displays on all screens</li>
              <li>Added functionality to make a registered group member an admin</li>
              <li>Added some clarification texts to the List Management screen</li>
              <li>Removed the delete button from list as that feature is not ready</li>
              <li>Permalink functionality, you can share this link with non-registered users.</li>
              <li>Added permalink button to Loot page</li>
              <li>Loot note added to the Loot page. *note must be entered on person recieving loot</li>
              <li>Corrected Issue where wrong response sent from server for getting List names.</li>
              <li>Added hashing to password passing, and hashing password in user tables on server.</li>
              <li>Added confirm password box on create account screen.</li>
              <li>Prettified login and errors.</li>
            </ul>
          </div>
        </div>

  </div>
  <div class="col-md-2"></div>
</div>
