<div class="container-fluid">

  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>Party Management</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Current Groups<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a>PlaceHolder</a></li>
                <li><a >PlaceHolder 1</a></li>
                <li><a >PlaceHolder 2</a></li>
              </ul>
            </div>
          </div>
          <div ng-controller="createGroupModalController" class="col-md-3">
            <button type='button' class="btn btn-lrg btn-primary" data-toggle="modal" ng-click="open()" >New Group</button>
          </div>

        </div>
        <div class="row">
          <div class="col-md-10">
            <div style="margin-top:10px" class="panel panel-default">
              <div  class="panel-heading">
                <h3 class="panel-title">Group Info</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">

                  <li class="list-group-item"><div class="row"><div class="col-md-2">Group</div><div class="col-md-2">List</div><div class="col-md-2">Date</div><div class="col-md-2">Loot Master Note</div></div></li>
                  <li class="list-group-item"><div class="row"><div class="col-md-2">PlaceHolder</div><div class="col-md-2">PlaceHolder</div><div class="col-md-2">PlaceHolder</div></div></li>
                  <li class="list-group-item"><div class="row"><div class="col-md-2">PlaceHolder</div><div class="col-md-2">PlaceHolder</div><div class="col-md-2">PlaceHolder</div></div></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </diV>
    <div class="col-md-1"></div>
</div>
</div>
